# Dossier de build
build/

# Fichiers Visual Studio
.vs/
*.user
*.suo

# Fichiers temporaires
*.obj
*.exe
*.dll
*.pdb
# MAIS inclure explicitement external/
!external/**/*.dll
!external/**/*.lib

# Dossiers de cache IDE
.vscode/
.idea/
.cache/